/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset global styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #101827;
  color: white;
}

/* Add any other global styles here */

/* Import the Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

/* Define color variables for light and dark themes */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Apply the global styles */
body {
  font-family: 'Outfit', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-white to-[#BBB8B8];
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-white to-[#BBB8B8];
  }
}

.video-with-controls::-webkit-media-controls-panel {
  display: flex;
}

.group:hover .video-with-controls::-webkit-media-controls-panel {
  display: none;
}
