/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset global styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Add any other global styles here */

/* Import the Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

/* Define color variables for light and dark themes */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply the global styles */
body {
  font-family: 'Outfit', sans-serif;
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-white to-[#BBB8B8];
  }
}

.video-with-controls::-webkit-media-controls-panel {
  display: flex;
}

.group:hover .video-with-controls::-webkit-media-controls-panel {
  display: none;
}
